@model IEnumerable<JobInfo>

    <h4 class="text-center mb-4">Danh sách công việc của bạn</h4>

    <div class="text-center">
        @if (Model.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tên công việc</th>
                        <th>Mô tả</th>
                        <!--Thêm các cột khác nếu cần-->
                    </tr>
                </thead>
                <tbody>
                    @foreach (var jobInfo in Model)
                    {
                        <tr>
                            <td>@jobInfo.Id</td>
                            <td>@jobInfo.Position</td>
                            <td>@jobInfo.Describe</td>
                            <!--Thêm các cột khác nếu cần-->
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Không có công việc nào.</p>
        }
    </div>
